/* Theme is a complete mess */

.window {
	font-family: "Audiowide", "Droid Sans", "Tahoma", "Arial", sans-serif;
	color: #f1f;
    background: #000;
    font-size: 14px;
}

.header {
    color: #FF9933;
	font-family: "Audiowide", "Droid Sans", "Tahoma", "Arial", sans-serif;
	font-weight: bold;
    background: linear-gradient(#222, #111);
}
.title, .attempt-count {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 20px;
}
.attempt-count {
	color: #f70;
    padding-right: 4px;
    font-size: 14px;
}
.splits, .split-last {
	font-size: 16pt;
    /*text-shadow: 0px 1px 1px rgba(0,0,0,0.1);*/
}
.split, .split-last {
	color: #f1f;
	font-family: "Audiowide", "Arial Narrow", sans-serif;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.split {
    color: #66CCFF;
}
.current-split {
    color: #FF33FF;
    background: linear-gradient(#000, #222);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.65);
    border: 0;
    transition: .1s;
}
.split .split-time .done {
    color: #FF33FF;
}
.current-split .split-time {
	color: #FF33FF;
    background: transparent;
}
.split, .current-split, .split-title, .split-time, .split-delta, .split-last {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

.time {
    font-family: "White Rabbit", "Droid Sans", "Tahoma", "Arial", sans-serif;
    font-weight: bold;
    color: #66CCFF;
}

.delta {
    font-size: 20px;
    font-family: "Xolonium";
    background: transparent;
}
.best-split, .footer .previous-segment .best-split {
    animation: blink-split 4s;
    animation-iteration-count: infinite;
    background-color: transparent;
    font-size: 16px;
}
@keyframes blink-split {
    0% {
        color: #FFC107;
    }
    50% {
        color: #FFC107;
    }
    75% {
        color: #FFECB3;
    }
    100% {
        color: #FFC107;
    }
}

.timer {
    /*text-shadow: 0px 2px 3px rgba(0,0,0,0.65);*/
    color: #22CC22;
    background: linear-gradient(#222, #111);
    transition: .5s;
}
.timer-millis {
    font-size: 40pt;
    padding-bottom: 5px;
    padding-right: 4px;
}
.timer-seconds {
    font-size: 54pt;
}

.losing {
    color: #33FF99;
    transition: .5s;
}
.behind {
    color: #E82323;
    transition: .5s;
}
.footer {
    color: #f1f;
}

.split-last {
    color: #66CCFF;
    border-top: 1px solid #fff;
    /*box-shadow: 0px -4px 8px rgba(1,1,1,1.0);*/
}
.split-last .split-time {
    color: #66CCFF;
}
.footer, .previous-segment-label, .previous-segment, .sum-of-bests-label, .sum-of-bests, .personal-best-label, .personal-best, .world-record-label, .world-record {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 18px;
}
